@ua.dirproy.profelumno.common.views.html.main("Hire lesson") {
    <div ng-app="profLesson">
        <hire-lesson teacher-id="1" index="1"></hire-lesson>
        <hire-lesson teacher-id="34" index="2"></hire-lesson>
        <hire-lesson teacher-id="55" index="3"></hire-lesson>
    </div>

        <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
        <script src="@routes.Assets.versioned("external/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("external/datepicker/bootstrap-datepicker.js")"></script>
        <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/hire-lesson/hire-lesson.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/register/register.js")"></script>
}