@()

@ua.dirproy.profelumno.common.views.html.tidyMain("Edit Teacher") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()
    @ua.dirproy.profelumno.common.views.html.chat()

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Editar Perfil
                <small></small>
            </h1>
        </section>
        <section class="content">
            <div class="row" ng-app="teacherModify">
                <div ng-controller="TeacherInfoController as edit">
                    <div class="col-md-3">
                        <div>
                            <div class="box box-primary" ng-cloak>
                                <div class="box-header"><h4>Imagen de perfil</h4></div>
                                <div class="box-body">
                                    <div class="thumbnail" ng-hide="hasImage">
                                        <img src="@routes.Assets.versioned("images/userDefault.jpeg")">
                                    </div>
                                    <div class="thumbnail" ng-show="edit.u.user.profilePicture">
                                        <img ng-src="data:image/*;base64,{{imageUrl}}"/>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="isa_error" ng-show="invalidFile">
                                        <i class="fa fa-times-circle"></i>
                                        El archivo no es una foto.
                                    </div>
                                    <form role="form" ng-submit="uploadFile()" enctype="multipart/form-data" name="modifyForm">
                                        <input id="inputFile" class="btn btn-info buttonAlign" type="file" name="file" ng-model="edit.fileToUpload" file-model="fileToUpload" accept="image/*" ng-show="false" custom-on-change="uploadFile" required/>
                                        <div id="submitFile" class="btn-group buttonAlign" role="group">
                                            <a href="" class="btn btn-info" type="button" ng-click="selectFile()"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
                                            @*<button class="btn btn-primary" type="submit">Guardar</button>*@
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="box box-primary" ng-cloak>
                            <div class="box-header">
                                <h4>Información personal</h4>
                                <a class="btn btn-info buttonAlign" href="@ua.dirproy.profelumno.subscription.controllers.routes.TeacherSubscription.subscriptionWTopBar()">
                                    Modificar subscripcion</a>
                            </div>

                            <form role="form" method="post" name="modifyForm" class="from-horizontal" ng-submit="submit()">
                                <div class="box-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="teacherFirstName" ng-model="edit.u.user.name" placeholder="Nombre" required>
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="teacherLastName" ng-model="edit.u.user.surname" placeholder="Apellido" required>
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="isa_error" ng-show="errors.taken">
                                            <i class="fa fa-times-circle"></i>
                                            El email ya está relacionado a una cuentano es valido.
                                        </div>
                                        <input type="email" class="form-control" id="teacherEmail" ng-model="edit.u.user.email" placeholder="Email" required>
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="isa_error" ng-show="errors.teacherAge">
                                            <i class="fa fa-times-circle"></i>
                                            Debe tener al menos 16 años para ser profesor.
                                        </div>
                                        <input type="date" class="form-control" id="birthday" ng-model="date" name="birthday" placeholder="Fecha de Nacimiento" name="birthday" required>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <div class="input-group">
                                        <label class="radio-inline"><input type="radio" name="gender" id="male" ng-model="edit.u.user.gender" value="male" required>
                                            Masculino</label>
                                        <label class="radio-inline"><input type="radio" name="gender" id="female" ng-model="edit.u.user.gender" value="female" required>
                                            Femenino</label>
                                    </div>
                                    <div class="input-group" >
                                        <div class="isa_error" ng-show="modifyTeacher.homeClass.$invalid">
                                            <i class="fa fa-times-circle"></i>
                                            Debe indicar si da clases a domicilio.
                                        </div>
                                        <label>Clases a domicilio: </label>
                                        <label class="radio-inline"><input type="radio" name="homeClass" id="yesHome" ng-model="radio" value="yes" required>
                                            Si</label>
                                        <label class="radio-inline"><input type="radio" name="homeClass" id="noHome" ng-model="radio" value="no" required>
                                            No</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="price" class="form-control" id="teacherPrice" ng-model="edit.u.price" placeholder="$" min="0" required style="z-index: 0">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    </div>
                                    <div class="input-group col-md-11">
                                        <div class="isa_error" ng-show="errlength">
                                            <i class="fa fa-times-circle"></i>
                                            Minimo 50 carateres.
                                        </div>
                                        <textarea type="text" class="form-control" ng-change="verifyDesc()" id="teacherDescription" ng-model="edit.u.description" placeholder="Descripcion" value="{{edit.u.description}}" rows="3" ng-minlength="50" required style="z-index: 0"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <a type="button" class="btn btn-info buttonAlign" href="@ua.dirproy.profelumno.teachermodification.controller.routes.ModifyTeacher.changePasswordView()" style="z-index: 0">Cambiar Contraseña</a>
                                    </div>
                                    <h4>Direccion</h4>
                                    <div class="input-group">
                                        <input class="form-control" name="address" ng-model="search"  ng-enter="geoCode()" googleplace style="z-index: 0"/>
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                    <app-map class="map" id="map" center="loc" markers="[marker]" zoom="17"></app-map>

                                </div>
                                <div class="box-footer">
                                <div class="btn-group buttonAlign">
                                    <button type="submit" class="btn btn-primary">Guardar datos personales</button>
                                    <a href="/"><button class="btn btn-danger" type="button">Cancelar</button></a>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="box">
                            <div flash-message="5000"></div>
                            <div class="box-header"><h4>Materias que dicto:</h4></div>
                            <form role="form" method="post" class="from-horizontal" ng-submit="submitSubjects()" name="subjectsForm">
                                <div class="box-body">
                                    <div class="input-group">
                                        <tags-input ng-keyup="sort()" ng-model="edit.u.user.subjects" add-from-autocomplete-only="true" >
                                            <auto-complete source="loadTags($query)" load-on-focus="true" loadOnFocus="true"></auto-complete>
                                        </tags-input>
                                        <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="input-group"><button type="submit" class="btn btn-primary">
                                        Guardar materias</button></div>
                                </div>
                            </form>
                        </div>

                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirm-close">
                            Cerrar Cuenta</button>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="confirm-close" class="modal fade" role="dialog" ng-app="app">
        <div class="modal-dialog" ng-controller="DeleteController">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">¿Cerrar Cuenta?</h3>
                </div>
                <div class="modal-body">
                    <h4>¿Está seguro que desea cerrar su cuenta?</h4>
                    <p>Al cerrar la cuenta, esta se borrará del sistema permanentemente, y no podrá contactarse con nadie.</p>
                    <p><i>Recuerde que si cierra la cuenta puede registrarse nuevamente.</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/delete">Aceptar</a>
                </div>
            </div>

        </div>
    </div>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/register/register.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/modifyteacher/modify-teacher.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/modifystudent/ng-tags-input.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/modifystudent/ng-tags-input.bootstrap.min.css")">
} {
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="@routes.Assets.versioned("external/datepicker/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherModify/teacherModify.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/modifyStudent/ng-tags-input.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherModify/angular-flash.js")"></script>
    <script src="@routes.Assets.versioned("external/angularjs/angular-route.js")"></script>
    <script src="@routes.Assets.versioned("external/angularjs/angular-animate.js")"></script>


}