@()

@ua.dirproy.profelumno.common.views.html.tidyMain("Perfil") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()

    <div class="content-wrapper" ng-app="app" ng-controller="CalendarController">
        <section class="content-header">
            <h1>
                Calendario
                <small>{{ userName }}</small>
            </h1>
        </section>

        <section class="content" ng-cloak>

            <div class="box box-primary">
                @*<div class="box-header with-border"></div><!-- /.box-header -->*@
                <div class="box-body" id="calendar"></div><!-- /.box-body -->
                <div class="box-footer"></div><!-- box-footer -->
            </div><!-- /.box -->

        </section>

    </div>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("external/fullcalendar/fullcalendar.css")">
} {
    <script src="@routes.Assets.versioned("external/daterangepicker/moment.min.js")"></script>
    <script src="@routes.Assets.versioned("external/fullcalendar/fullcalendar.js")"></script>
    <script src="@routes.Assets.versioned("external/fullcalendar/es.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/calendar/calendar.js")"></script>
}