@()
@ua.dirproy.profelumno.common.views.html.tidyMain("Student dashboard"){
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()

    <div class="content-wrapper" ng-app="studentProfile" >
            <!-- Content Header (Page header) -->
        <section class="content-header" ng-controller="StudentCtrl">
            <h1>
                General UI
                <small>Preview of UI elements</small>
            </h1>
            <section class="content">
                <div class="row">
                    <teachers></teachers>
                    <subjects></subjects>
                </div> <!-- /.row -->
            </section> <!-- /.content -->
        </section>
    </div><!-- /.content-wrapper -->

} {
    <link/>
} {  <script src="@routes.Assets.versioned("javascripts/studentProfile/studentProfile.js")"></script>

}