@()

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Profelumno - Recuperar contraseña</title>
        <meta property="site_name" content="Profelumno">

        <link rel="stylesheet" href="@routes.Assets.versioned("external/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/passwordrecovery/pwRecovery.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("external/iCheck/square/blue.css")">
        <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
    </head>

    <body class="hold-transition register-page" ng-app="PasswordRecovery">
        <div class="register-box">
            <div class="register-logo">
                <b>Profe</b>Lumno
            </div>
            <div class="register-box-body" ng-controller="recoveryCtrl">
                <p class="login-box-msg">Complete el siguiente formulario para poder recuperar su contraseña</p>
                <div id="warning"></div>
                <form name="emailForm" ng-submit="validate()" novalidate>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Ingrese su e-mail" ng-model="user.mail" required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div ng-show="validMail">
                        <p class="login-box-msg">
                            Su pregunta secreta de identidad es:<br><strong>{{user.question}}</strong>
                        </p>

                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Ingrese su respuesta" ng-model="secureAnswer">
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-block btn-flat" ng-click="close()">Cancelar</button>
                    </div><!-- /.col -->
                    <div class="col-xs-4"></div><!--Empty /.col-->
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-block btn-flat" ng-click="emailForm.$valid && validate()" id="next">Continuar</button>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" ng-controller="recoveryCtrl">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Éxito!</h3>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-center">
                            Su nueva contraseña a sido enviada a su casilla de e-mail.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.versioned("external/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/passwordRecovery/passwordrecovery.js")"></script>
    </body>
</html>