@()

@ua.dirproy.profelumno.common.views.html.main("Subscription"){
    <div ng-app="postApp">

        <div class="col-lg-5 well-coral" ng-controller="SubscriptionController as control">
        <h2>Suscripción</h2>
            <div ng-show="control.succeded">{{control.successMessage}}</div>
            <div ng-show="control.error">{{control.errorMessage}}</div>
            <form class="form-horizontal" ng-submit="control.submitForm()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cardName">Nombre de la tarjeta:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cardName" name="cardName" required="required" ng-model="control.card.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cardNumber">Numero de Tarjeta:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="cardNumber" required="required" id="cardNumber" ng-model="control.card.number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="expiration">Vencimiento:</label>
                    <div class="col-sm-10">
                        <select aria-label="Month" name="month" id="month" title="Month" class="selectpicker" ng-model="control.card.expirationMonth"><option value="0" selected="1">Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>

                        <select name="year" class="selectpicker" ng-model="control.card.expirationYear">
                            <option value="" selected="">Year
                            </option><option value="15">2015
                            </option><option value="16">2016
                            </option><option value="17">2017
                            </option><option value="18">2018
                            </option><option value="19">2019
                            </option><option value="20">2020
                            </option><option value="21">2021
                            </option><option value="22">2022
                            </option><option value="23">2023
                            </option><option value="24">2024
                            </option><option value="25">2025
                            </option><option value="26">2026
                        </option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="secCode" ng-model="control.card.securityNumber">Codigo de Seguridad:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="secCode" id="secCode" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cardType" ng-model="control.card.type">Confirm:</label>
                    <div class="col-sm-10">
                        <select name="cardType" class="selectpicker">
                            <option id="visa">VISA</option>
                            <option id="amex">AMEX</option>
                            <option id="master">MASTER</option>
                            <option id="discover">DISCOVER</option>
                            <option id="diners">DINERS</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Submit">
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
    <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
    <script src="@routes.Assets.versioned("external/bootstrap-select/bootstrap-select.js")"></script>
    <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSubscription/teacherSubscription.js")"></script>
}
