
@()

<aside class="control-sidebar control-sidebar-dark"  id="chat-bar">
        <!-- sidebar -->
    <section class="sidebar" ng-controller="ChatContoller as controller">
        <div  class="sidebar-name" ng-show="controller.connectedUsers">
            <span>Conectados</span>
        </div>
        <div class="sidebar-name" ng-repeat="user in connectedUsers">
                <!-- Pass username and display name to register popup -->
            <div class="pad">
                <div class="sidebar-name">
                    <a href="javascript:register_popup(''+{{user.id}}, ''+{{user.name}} );">
                        <img width="40" height="40" src="@routes.Assets.versioned("images/userDefault.jpeg")" class="img-circle" />
                        <span>User 1 Name</span>
                    </a>
                </div>
            </div>
        </div>
        <div  class="sidebar-name" ng-show="controller.disconnectedUsers">
            <span>Desconectados</span>
        </div>
        <div class="sidebar-name" ng-repeat="user in disconnectedUsers">
                <div class="pad">
                    <div class="sidebar-name">
                        <a href="javascript:register_popup(''+{{user.id}}, ''+{{user.name}} );">
                            <img width="40" height="40" src="@routes.Assets.versioned("images/institutional/stud1.jpg")" class="img-circle" />
                            <span>User 2 Name</span>
                        </a>
                    </div>
                </div>
        </div>
    </section>
        <!-- /Sidebar -->
</aside>
