
@()

<aside class="control-sidebar control-sidebar-dark" id="chat-bar">
    <div ng-controller="ChatController as chat" id="chatCtrl">
        <section id="idunico"></section>
    </div>
        <!-- chatbar -->
    <section class="sidebar" ng-controller="ChatController as controller" id="contacts-list">

        <span style="margin-left: 10px"  ng-show="connectedUser.length>0">Conectados</span>
        <div ng-repeat="user in connectedUser">
            <div class="pad">
                <div class="sidebar-name">
                    <a  href="#" ng-click='getChat(user.id, user.name+" "+user.surname)'>
                        <img ng-src="data:image/*;base64,{{ user.profileImage }}" class="img-circle" alt="Imagen de Perfil" ng-show="profileImage != null">
                        <img src="@routes.Assets.versioned("images/userDefault.jpeg")" class="img-circle" ng-show="profileImage == null">
                        <span>{{user.name+" "+user.surname}}</span>
                    </a>
                </div>
            </div>
        </div>
        <span style="margin-left: 10px" ng-show="disconnectedUser.length>0">Desconectados</span>
        <div class="sidebar-name" ng-repeat="user in disconnectedUser">
                <div class="pad">
                    <div class="sidebar-name">
                        <a href="#" ng-click='getChat(user.id, user.name+" "+user.surname)'>
                            <img ng-src="data:image/*;base64,{{ user.profileImage }}" class="img-circle" alt="Imagen de Perfil" ng-show="profileImage != null">
                            <img src="@routes.Assets.versioned("images/userDefault.jpeg")" class="img-circle" ng-show="profileImage == null">
                            <span>{{user.name+" "+user.surname}}</span>
                        </a>
                    </div>
                </div>
        </div>
        <span style="margin-left: 10px" ng-show="disconnectedUser.length<=0 && connectedUser.length<=0">No hay usuarios para chatear</span>
    </section>
        <!-- /Sidebar -->
</aside>


<!-- Optional to made the bar as large as the page-->
 <div class="control-sidebar-bg"></div>



