@()
@ua.dirproy.profelumno.common.views.html.main(""){
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
        <!-- sidebar -->
    <section class="sidebar">
                 <!-- Sidebar menu -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>
                <!--Documentation-->
            <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                <!--/Documentation-->
        </ul>
            <!-- /Sidebar menu -->
    </section>
        <!-- /Sidebar -->
</aside>
}