@()
@*En este file va el contenido del sidebar de teacher, a medida que se genera una vista nueva que es de teacher y no de student*@
@*y a la cual se accede desde un boton del dashboard se agrega aca. Hay comentados dos posibles tipos de contenidos para usar, un boton o una lista desplegable*@

@*<li class="treeview">*@
    @*<a href="#">*@
        @*<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>*@
    @*</a>*@
    @*<ul class="treeview-menu">*@
        @*<li class="active"><a href="#"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>*@
        @*<li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>*@
    @*</ul>*@
@*</li>*@
@*<!--Documentation-->*@
@*<li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>*@

<li><a href="#"><i class="fa fa-book"></i> <span>Subscription</span></a></li>