@()

@main("Registro") {
    <div class="row">
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-4 col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Regístrese</h3>
                </div>
                <form role="form" method="post">
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nombre" name="name" required>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Apellido" name="surname" required>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Contraseña" name="password" required pattern=".{6,}" title="La contraseña debe contener al menos 6 caracteres." onchange="form.confirm.pattern = this.value;">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="confirm" required pattern=".{6,}" title="La contraseña coincidir con la ingresada arriba.">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" data-date-format="dd/mm/yyyy" placeholder="Fecha de Nacimiento" name="birthday" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="gender" id="male" required>
                            <label for="male">Masculino</label>
                            <input type="radio" name="gender" id="female" required>
                            <label for="female">Femenino</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="role" id="student" required>
                            <label for="student">Alumno</label>
                            <input type="radio" name="role" id="teacher" required>
                            <label for="teacher">Profesor</label>
                        </div>
                        <div class="input_group">
                            <input type="checkbox" id="terms" required>
                            <label for="terms">Acepto los <a href="#">Términos y Condiciones de Uso</a>.</label>
                        </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
                <div><a href="#">Ya tengo un usuario.</a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3"></div>
    </div>

    <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
    <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
    <script src="@routes.Assets.versioned("external/datepicker/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/register.js")"></script>
} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/register.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("external/iCheck/square/blue.css")">
}