@()

@main("Registro") {
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Registrese</h3>
                </div>
                <form role="form" method="post">
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nombre" required>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Apellido" required>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/register.css")">
}