@()
@ua.dirproy.profelumno.common.views.html.tidyMain("Accept Lesson") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()

    <div class="content-wrapper" ng-app="acceptLesson" ng-controller="AcceptController as ctrl">
        <section class="content-header">
            <h1>
                Clases
            </h1>
        </section>
        <section class="content" ng-cloak>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title"><a href="#">Clases Pendientes</a></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">
                            <span ng-show="currentLessons.length == 0">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="lesson in currentLessons">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-yellow"><i class="fa fa-calendar-check-o"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">
                                            {{ lesson.subject.text }} a {{ lesson.student.user.name }} {{ lesson.student.user.surname }} </span>
                                        <span class="info-box-number">{{ lesson.dateString }}</span>
                                        <button type="button" ng-click="setDecision(lesson)" class="btn btn-primary">
                                            Responder</button>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <button style="display: none" data-toggle="modal" data-target="#decisionModal" id="display-modal"></button>
            <div class="modal fade" role="dialog" id="decisionModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    El alumno {{decisionLesson.student.user.name}} {{decisionLesson.student.user.surname}} ha solicitado una nueva clase:
                                    <br>
                                    <ul class="list-group">
                                        <li class="list-group-item">Fecha: {{decisionLesson.dateString}}</li>
                                        <li class="list-group-item">Dirección: {{decisionLesson.address}}</li>
                                        <li class="list-group-item">Materia: {{decisionLesson.subject.text}}</li>
                                        <li class="list-group-item">Comentario:
                                            <div class="well">
                                                {{decisionLesson.comment}}
                                            </div></li>
                                    </ul>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" id="acceptLesson" class="btn btn-success" ng-click="decision(decisionLesson.id, true)">
                                    Aceptar</button>
                                <div class="col-xs-1"></div>
                                <button type="button" id="rejectLesson" class="btn btn-danger" ng-click="decision(decisionLesson.id, false)">
                                    Rechazar</button>
                            <button type="button" id="dismiss-modal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Próximas Clases</h3>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">

                            <span ng-show="nextLessons.length == 0">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="lesson in nextLessons">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-olive"><i class="fa fa-calendar-o"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ lesson.subject.text }}</span>
                                        <span class="info-box-number">{{ lesson.dateString }}</span>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title"><a href="/review-lesson">Clases Pasadas</a></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">
                            <span ng-show="prevLessons.length == 0">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="lesson in prevLessons">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-yellow"><i class="fa fa-calendar-check-o"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ lesson.subject }} a {{ lesson.studentName }}</span>
                                        <span class="info-box-number">{{ lesson.date }}</span>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <button type="button" data-toggle="modal" id="showModal" data-target="#success" style="display : none"></button>
            <div class="modal fade" role="dialog" id="success">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div class="modal-body">
                            La respuesta fue enviada con éxito.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
        <div class="page-header">Clases pendientes: </div>
        <div ng-repeat="lesson in teacherLessons" >
        <div ng-if="lesson.lessonState == 0">
        <div class="panel panel-primary" id="{{lesson.id}}">
        <div class="panel-body">
        El alumno {{lesson.student.user.name}} {{lesson.student.user.surname}} ha solicitado una nueva clase:
        <br>
        <ul class="list-group">
        <li class="list-group-item">Fecha: {{lesson.dateString}}</li>
        <li class="list-group-item">Dirección: {{lesson.address}}</li>
        <li class="list-group-item">Materia: {{lesson.subject.text}}</li>
        <li class="list-group-item">Comentario:
        <div class="well">
        {{lesson.comment}}
        </div></li>
        </ul>
        <br>
        <div class="btn-group">
        <button type="button" id="accept{{lesson.id}}" class="btn btn-success" ng-click="decision(lesson.id, true)">
        Aceptar</button>
        <div class="col-xs-1"></div>
        <button type="button" id="reject{{lesson.id}}" class="btn btn-danger" ng-click="decision(lesson.id, false)">
        Rechazar</button>
        </div>
        </div>
        <br>
        </div>
        </div>
        </div>
        <h3 class="special-text">No hay más clases pendientes</h3>
        <button type="button" data-toggle="modal" id="showModal" data-target="#success" style="display : none"></button>
        <div class="modal fade" role="dialog" id="success">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body">
        La respuesta fue enviada con éxito.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
        </div>
        </div>
        </div>

        </div>*@
    </div>
} {
    <span></span>
} {
    <script src="@routes.Assets.versioned("/javascripts/teacherProfile/accept-lesson.js")"></script>
}
