@()

@ua.dirproy.profelumno.common.views.html.tidyMain("Perfil") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()

    <div class="content-wrapper" ng-app="app" ng-controller="DashboardController">
        <section class="content-header">
            <h1>
                Dashboard
                <small>{{ teacher.user.name }} {{ teacher.user.surname }}</small>
            </h1>
        </section>

        <section class="content" ng-cloak>

            <div class="row">    <!-- Apply any bg-* class to to the info-box to color it -->
                <div class="col-md-4">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-star-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Rating</span>
                            <span class="info-box-number">{{ teacher.ranking }}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ teacher.ranking * 10 }}%"></div>
                            </div>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div>
                <div class="col-md-4">
                    <div class="info-box bg-purple">
                        <span class="info-box-icon"><i class="fa fa-credit-card"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tarjeta Asociada</span>
                            <span class="info-box-number">{{ 'XXXX XXXX XXXX ' + teacher.subscription }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div>
                <div class="col-md-4">
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-calendar-plus-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Renovación</span>
                            <span class="info-box-number">{{ teacher.renewalDate }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-success">
                        <div class="box-header">
                            <h3 class="box-title">Materias Mejor Puntuadas</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">
                            <span ng-show="noTopSubjects">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="(subject, score) in topSubjects">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ subject }}</span>
                                        <span class="info-box-number">{{ score }}</span>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Próximas Clases</h3>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">

                            <span ng-show="nextLessons.length == 0">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="lesson in nextLessons">
                                <div ng-if="lesson.lessonState==1">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-olive"><i class="fa fa-calendar-o"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ lesson.subject.text }}</span>
                                        <span class="info-box-number">{{ lesson.dateString }}</span>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                        </div>
                        </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title"><a href="/review-lesson">Clases Pasadas</a></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body bg-gray-light">
                            <span ng-show="prevLessons.length == 0">No hay información disponible</span>
                            <div class="col-md-4 col-sm-6" ng-repeat="lesson in prevLessons">
                                <div ng-if="lesson.lessonState==1">
                                <div class="info-box">
                                        <!-- Apply any bg-* class to to the icon to color it -->
                                    <span class="info-box-icon bg-yellow"><i class="fa fa-calendar-check-o"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ lesson.subject.text }}</span>
                                        <span class="info-box-number"><a href="/review-lesson">{{ lesson.dateString }}</a></span>
                                    </div><!-- /.info-box-content -->
                                </div><!-- /.info-box -->
                            </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>


            @*<div>
                <a href="/teacher-profile/accept-lesson" class="btn btn-primary">Clases pendientes</a>
            </div>*@
        </section>


    </div>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teacherProfile/teacher-profile.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/teacherProfile/teacherProfile.js")"></script>
}