@()

@ua.dirproy.profelumno.common.views.html.tidyMain("Buscar profesor") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()
    @ua.dirproy.profelumno.common.views.html.chat()

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Buscar profesor
                <small></small>
            </h1>
        </section>
        <section class="content">
            <div ng-app="teacherSearchApp">
    <div class="container-fluid"  ng-controller="searchController">
        <div class="row-fluid">
            @*<h3 class="header">Buscar profesor</h3>*@
            <form role="form" class="simple-form" ng-submit="search()">
                <div class="row-fluid">
                    <div class="col-sm-6 form-group">
                        <label>Materias</label>
                        <div class="input-group">
                            <tags-input ng-keyup="sort()" ng-model="subjects" name="subjects" add-from-autocomplete-only="true" add-on-enter="false" add-on-paste="true">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <span class="input-group-addon"><i class="fa fa-book"></i></span>
                        </div>
                        <div class="checkbox input-group">
                            <label>
                                <input type="checkbox" ng-disabled="sortByDistance" name="homeClasses" ng-model="homeClasses" id="domicilio" value="false">
                                Da clases a domicilio
                            </label>
                        </div>
                        <div class="checkbox input-group">
                            <label>
                                <input type="checkbox" id="cercania" name="sort" ng-disabled="homeClasses" ng-model="sortByDistance" value="false">
                                Ordenar según cercanía a mi domicilio
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="ranking">Puntaje</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-star"></i></span>
                            <input id="ranking" class="form-control" type="number" min="0" max="5" name="ranking" ng-model="ranking">
                        </div>
                        <label for="lessons">Cantidad de clases dictadas</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input class="form-control" id="lessons" name="lessonsDictated" type="number" min="0" max="999999" ng-model="lessonsDictated">
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
        <div class="row-fluid" ng-show="showResults">
            <h4>Resultado de la búsqueda</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="text-center">Profesor</th>
                        <th class="text-center">Puntaje</th>
                        <th class="text-center">Clases dictadas</th>
                        <th class="text-center">Contratar</th>
                    </tr>

                    <tr dir-paginate="teacher in teachers|itemsPerPage:8" current-page="currentPage" >
                        <td class="text-center"> {{teacher.user.surname}}, {{teacher.user.name}}</td>
                        <td class="text-center">{{teacher.ranking}}</td>
                        <td class="text-center">{{teacher.lessonsDictated}}</td>
                        <td class="text-center"><hire-lesson teacher-id=teacher.id index=$index teacher-subs=teacher.user.subjects></hire-lesson></td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                >
            </dir-pagination-controls>

        </div>
    </div>
</div>
        </section>
    </div>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("external/fullcalendar/fullcalendar.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/calendar/calendar.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("external/datepicker/datepicker3.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/teacherSearch.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/ng-tags-input.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/dirPagination.js")"></script>
    @*<script src=https://rawgit.com/angular-ui/angular-google-maps/2.2.1/dist/angular-google-maps.min.js></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="@routes.Assets.versioned("external/angularjs/angular-route.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/hire-lesson/hire-lesson.js")"></script>
    <script src="@routes.Assets.versioned("external/daterangepicker/moment.min.js")"></script>
    <script src="@routes.Assets.versioned("external/datepicker/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.versioned("external/fullcalendar/fullcalendar.js")"></script>
    <script src="@routes.Assets.versioned("external/fullcalendar/es.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/calendar/calendar.js")"></script>
}
