@()

@ua.dirproy.profelumno.common.views.html.tidyMain("Buscar profesor") {
    @ua.dirproy.profelumno.common.views.html.topbar()
    @ua.dirproy.profelumno.common.views.html.sidebar()

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Buscar profesor
                <small></small>
            </h1>
        </section>
        <section class="content">
            <div ng-app="teacherSearchApp">
    <div class="container-fluid"  ng-controller="searchController">
        <div class="row-fluid">
            <h3 class="header">Buscar profesor</h3>
            <form role="form" class="simple-form" ng-submit="search()">
                <div class="row-fluid">
                    <div class="col-sm-6 form-group">
                        <label>Materias</label>
                        <div class="input-group">
                            <tags-input ng-keyup="sort()" ng-model="subjects" name="subjects" add-from-autocomplete-only="true" add-on-enter="false" add-on-paste="true">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <span class="input-group-addon"><i class="fa fa-book"></i></span>
                        </div>
                        <div class="checkbox input-group">
                            <label>
                                <input type="checkbox" name="homeClasses" ng-model="homeClasses" id="domicilio" value="false">
                                Da clases a domicilio
                            </label>
                        </div>
                        <div class="checkbox input-group">
                            <label>
                                <input type="checkbox" id="cercania" name="sort" ng-model="sort" value="false">
                                Ordenar según cercanía a mi domicilio
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="ranking">Ranking</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-star"></i></span>
                            <input id="ranking" class="form-control" type="number" min="0" max="5" name="ranking" ng-model="ranking">
                        </div>
                        <label for="lessons">Cantidad de clases dictadas</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input class="form-control" id="lessons" name="lessonsDictated" type="number" min="0" max="999999" ng-model="lessonsDictated">
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
        <div class="row-fluid " ng-show="showResults">
            <h4>Resultado de la búsqueda</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Profesor</th>
                        <th>Ranking</th>
                        <th>Clases dictadas</th>
                        <th>Hire</th>
                    </tr>

                    <tr dir-paginate="teacher in teachers|itemsPerPage:8">
                        <td> {{teacher.user.surname}}, {{teacher.user.name}}</td>
                        <td>{{teacher.ranking}}</td>
                        <td>{{teacher.lessonsDictated}}</td>
                        <td><hire-lesson teacher-id=teacher.id index=$index teacher-subs=teacher.user.subjects></hire-lesson></td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>
        </section>
    </div>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.bootstrap.min.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/teacherSearch.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/ng-tags-input.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/dirPagination.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/hire-lesson/hire-lesson.js")"></script>
}
