@()

@ua.dirproy.profelumno.common.views.html.main("Teacher search") {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/teachersearch/ng-tags-input.bootstrap.min.css")">

    <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
    @*<div ng-app="teacherSearchApp">*@
        @*<div ng-controller="searchController">*@
            @*<form novalidate class="simple-form" ng-submit="search()">*@
                @*<label>Materias:*@
                    @*<tags-input ng-model="subjects" add-on-paste="true"></tags-input>*@
                @*</label>*@
                @*<label>*@
                    @*Ranking:*@
                    @*<input type="number" ng-model="ranking" />*@
                @*</label>*@
                @*<label>*@
                    @*Clases dictadas:*@
                    @*<input type="number" ng-model="lessons" />*@
                @*</label>*@
                @*<label>*@
                    @*<input type="checkbox" ng-model="home" />*@
                    @*Da clases a domicilio*@
                @*</label>*@
                @*<label>*@
                    @*<input type="checkbox" ng-model="sort"/>*@
                    @*Ordenar según cercanía a mi domicilio*@
                @*</label>*@
                @*<input type="submit" value="Search"/>*@
            @*</form>*@
            @*<div>*@
                @*<table>*@
                    @*<tr ng-repeat="x in teachers">*@
                        @*<td>{{ x.user.name }}</td>*@
                    @*</tr>*@
                @*</table>*@
            @*</div>*@
        @*</div>*@
    @*</div>*@
<div ng-app="teacherSearchApp">
    <div class="container-fluid"  ng-controller="searchController">
          <h3 class="header">Buscar profesor</h3>
            <form novalidate class="simple-form" ng-submit="search()">
                <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <tags-input ng-model="subjects" name="subjects" add-on-paste="true">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                        @*<span class="input-group-addon"><i class="fa fa-book"></i></span>*@
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="checkbox" name="homeClasses" ng-model="homeClasses" id="domicilio" class="check-box" />
                        <label for="domicilio" style="margin-left: 10px">Da clases a domicilio</label>
                    </div>
                    <div class="input-group">
                        <input type="checkbox" name="sort" ng-model="sort" id="cercania" class="check-box"/>
                        <label for="cercania" style="margin-left: 10px">Ordenar según cercanía a mi domicilio</label>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <label for="ranking">Ranking</label><br>
                        <input id="ranking" class="text-input" type="number" name="ranking" ng-model="ranking">
                    </div>
                    <div class="input-group">
                        <label for="lessons">Cantidad de clases dictadas</label><br>
                        <input class="text-input" id="lessons" name="lessonsDictated" type="number" ng-model="lessonsDictated">
                    </div>
                </div>
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

    </form>

        <h4>Resultado de la búsqueda</h4>
    <div class="row-fluid " ng-hide="teachers.lenght == 0">
        <table class="table">
            <tbody>
                <tr>
                    <th>Profesor</th>
                    <th>Ranking</th>
                    <th>Clases dictadas</th>
                </tr>
                <tr dir-paginate="teacher in teachers|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                    <td>{{teacher.name}}</td>
                        <td>{{teacher.ranking}}</td>
                        <td>{{teacher.dictatedLessons}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>
    <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/teacherSearch.js")"></script>
    <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/ng-tags-input.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/teacherSearch/dirPagination.js")"></script>

}