@()

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Profelumno - Calificacion</title>
        <meta property="site_name" content="Profelumno">

        <link rel="stylesheet" href="@routes.Assets.versioned("external/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lessonReview/lessonsReview.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("external/iCheck/square/blue.css")">
        <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
    </head>