@()

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Profelumno - Calificacion</title>
        <meta property="site_name" content="Profelumno">

        <link rel="stylesheet" href="@routes.Assets.versioned("external/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lessonReview/lessonsReview.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("external/iCheck/square/blue.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lessonReview/star-rating.min.css")" media="all" type="text/css" />
        <script src="@routes.Assets.versioned("external/angularjs/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("external/jQuery/jQuery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/reviewLesson/star-rating.min.js")" type="text/javascript"></script>
    </head>

    <div class="navbar-custom-menu"> </div>

    <body ng-app="lessonReview">

        <div class="col-md-6 col-md-offset-3" ng-controller="LessonReviewsController as revCtrl" ng-submit="reviewForm.$valid && postReview()">
            <!-- Lesson Reviewed -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Clases calificadas</h3>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Calificacion</th>
                                        <th>Comentario</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="reviewed in revCtrl.reviewedLessons">
                                    <tr>
                                        <td>{{reviewed.userReviewed}}</td>
                                        <td>{{reviewed.reviewDate}}</td>
                                        <td>{{reviewed.reviewStars}}</td>
                                        <td>{{reviewed.reviewComment}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                </div><!-- /.box-header with-border -->
            </div><!-- /.box box-info -->

            <!-- Lesson Non Reviewed -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Clases no calificadas</h3>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Nombre del Profesor</th>
                                        <th>Nombre del alumno</th>
                                        <th>Fecha de la clase</th>
                                        <th>Duracion de la clase</th>
                                        <th>Precio de la clase</th>
                                        <th>Usuario a calificar</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="nonReviewed in revCtrl.nonReviewedLessons">
                                    <tr>
                                        <td>{{nonReviewed.teacherName}}</td>
                                        <td>{{nonReviewed.studentName}}</td>
                                        <td>{{nonReviewed.lessonDate}}</td>
                                        <td>{{nonReviewed.lessonDuration}}</td>
                                        <td>{{nonReviewed.lessonPrice}}</td>
                                        <td>{{nonReviewed.userToReview}}</td>

                                        <td><button type="button" class="btn btn-block btn-primary btn-sm"
                                            data-toggle="modal" data-target="#makeReviewModal" ng-click="setIndex(nonReviewed.index)">Calificar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                </div><!-- /.box-header with-border -->
            </div><!-- /.box box-info -->

            <!-- Make Review Modal -->
            <div class="modal fade" id="makeReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-body">
                        <!-- <form name="reviewForm" ng-controller="MakeReviewController as makeRevCtrl" novalidate> -->
                    <div class="col-md-6 col-md-offset-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Critica</h3>
                            </div>
                            <form name="reviewForm" novalidate>
                                <div class="box-body">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email</span>
                                        <input type="email" class="form-control" ng-model="revCtrl.nonReviewedLessons[getIndex()].userToReview" readonly>
                                    </div>
                                    <br>
                                    <div>
                                        <label>Estrellas</label>
                                        <input type="number" id="stars-id" class="rating" data-stars="5" step=1 data-size="sm" data-rtl="false" data-show-clear="false">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea class="form-control" rows="3" ng-model="currentReview.comment" required></textarea>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="submit" value="submit" class="btn btn-primary">Calificar</button>
                                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                    </div>
                                </div><!-- /.box-body -->
                            </form> <!-- /.form -->
                        </div><!-- /.box box-info -->
                    </div> <!-- /.col-md-6 col-md-offset-3 -->
                    <!--</form>-->
                </div> <!-- /.modal-body -->
            </div> <!-- /.modal fade -->
        </div><!-- /.col-md-6 col-md-offset-3 -->


        <!-- Scripts -->
        <script>
            //Used for the stars rating
            $('#stars-id').on('rating.change', function(event, value, caption) {
                //angular.element(document.getElementById('MakeReviewController')).scope().setStars(value);
                //$('#hidden-stars-div').text(value);
            });
        </script>

        <script>
            //Used when a the modal is hide
            $('#makeReviewModal').on('hide.bs.modal', function () {
                   //$(this).data('modal').$element.removeData();
                   $(this).removeData('bs.modal');
                })
        </script>

        <script src="@routes.Assets.versioned("external/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("external/iCheck/icheck.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/reviewLesson/review.js")"></script>
    </body>
</html>
